body {
	background-color: #222;
	color: white;
	margin: 0px;
	min-height: 100vh;
	/* mobile viewport bug fix */
	min-height: -webkit-fill-available;
	font-family: monospace;
}

html {
	height: -webkit-fill-available;
}

.w-100 {
	width: 100%;
}

.container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.text-center {
	text-align: center;
}

.panel {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 16vh;
	padding: 14px 0px;
	/*background-image: linear-gradient(to top, #0000, #000);*/
	overflow: hidden;
}

#player {
	float: left;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-grp {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #333;
	border-radius: 5px;
	height: 100%;
	margin-right: 8px;
	margin-left: 8px;
	overflow: hidden;
	box-shadow: 0 0px 10px rgb(0 0 0 / 90%);
	/*box-shadow: 4px 4px 0px 0px purple;*/
}

button {
	background-color: inherit;
	height: 100%;
	color: white;
	border: none;
	outline: none;
	padding: 10px 10px;
}

button:hover {
	background-color: inherit;
}

button:active {
	background-color: inherit;
}

button#back10, button#faster {
	background-color: #444;
}

button#go {
	padding: 4vh 10px;
}

#min {
	padding-left: 16px;
	font-size: 8vh;
	width: 2.5vw;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: white;
}

#sec {
	font-size: 8vh;
	width: 4.5vw;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: white;
}

#colon {
	font-size: 30px;
	line-height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #999;
}

img {
	height: 100%;
}

#youtubelink{
	padding: 4vh;
	border-radius: 25px;
	font-size: 6vh;
	background: transparent;
	border: none;
	caret-color: white;
	text-align: center;
	width: 100%;
	/*display: none;*/
}

#youtubelink:focus {
	outline: none;
	box-shadow: none;
	border: none;
}

.alert {
	display: none;
}

@media(orientation: portrait){
	.alert {
		display: flex;
		position: fixed;
		height: 100%;
		width: 100%;
		background-color: #222;
		font-size: 15px;
		color: #999;
		z-index: 999;
		align-items: center;
		justify-content: center;
	}

	#player {
		display: none;
	}
}

input {
	font-family: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
	-moz-appearance:textfield; /* Firefox */
}

.green {
	background: #77DD76 !important;
}

.plain {
	filter: none;
}

.red {
	background: #FF6962 !important;
}